html,body,h1,h2,h3,h4,h5,h6{
	/*font-family: 'Roboto-Bold', sans-serif;*/
	font-family: 'Roboto', monospace;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}



.ac-transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

.ac-align-right{
	float: right;
	right: 0px;
}

.ac-active{
	background-color: #ff6961;
	height:500px;
	left: 0;
	padding-bottom: 30px;
	padding-top: 30px;
	position:fixed;
	top: 0;
	width: 300px;
}

.ac-active h3{
	bottom:80px;
	font-weight:bold;
	padding-bottom:-20px;
	position:absolute;
	right:-25px;
}

.ac-active i{
	background-color: #ff6961;
	bottom:15px;
	right:7px;
	position:absolute;
}

.ac-container{
	/*padding:0.01em 16px;*/
}

.ac-container-float{
	/*background-color: #ff6961;*/
	/*border-left: 1px solid black;*/
	float: left;
	height: auto;
	/*padding: 2.5px;*/
	width: 200px;
	margin-left: 15px;

}

.ac-container-float-small{
	background-color: #ff6961;
	float: right;
	height: auto;
	margin: 2.5px;
	padding: 30px;
	position: relative;
	width: 150px;
}

.ac-container-half-medium{
	background-color: #ff6961;
	float: right;
	height: auto;
	margin: 2.5px;
	padding: 15px;
	position:relative;
	width: 300px;
}

.ac-container-tile{
	float: right;
	padding: 20px;
	margin: 5px;
	text-align: center;
	min-width: 100px;
}

.ac-profile{
	background-color: #;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-right: 15px;
	padding-bottom: 15px;
	width:200px;
}

.ac-right-column{
	/*float: right;*/
	overflow: auto;
	max-width: 600px;
	padding: 15px;
	text-align: right;
	width: auto;
}

.ac-text-profile{
	font-size: 10px;
	/*color: #757575;*/
	vertical-align: middle;
	text-decoration: none;
}
----------------------





.ac-panel-videos{
	background-color: #ff6961;
	height:500px;
	left: 0;
	padding-bottom:30px;
	padding-top:30px;
	position:fixed;
	top:0;
	width:40px;
}

.ac-panel-videos h3{
	bottom:80px;
	font-weight:bold;
	padding-bottom:-20px;
	position:absolute;
	right:-25px;
}

.ac-panel-videos i{
	background-color: #ff6961;
	bottom:15px;
	right:7px;
	position:absolute;
}

.ac-ul{
	padding-left: 0px;
}

.ac-rect-mobile{
	background-color: #00aa33;
	margin: 2.5%;
	text-align: center;
	width: 95%;
}

.ac-container-filmmaker div{
	margin-top:10px;
}

/*.ac-display-container{
	position:relative;
	width:100%;
}*/

.ac-margin-right{
	margin-right: 10px;
}

.ac-shadow-card{
	box-shadow:-5px 5px 5px 0px #536DFE, 5px -5px 5px 0 #E64A19;
} /*rgba(0,0,0,0.2) rgba(0,0,0,0.19)*/

/*.ac-shadow-buttons{
	box-shadow:-5px 5px 2px 0px #32CD32, 10px -5px 0px 0 #E64A19;
}*/

.ac-shadow-gamebuttons{
	box-shadow:-5px 5px 2px 0px #E64A19, 10px -5px 0px 0 #32CD32;
}

.ac-youtube{
	position:fixed;
	bottom:0;
	right:0;
	/*background-image: url("myim/yt_icon_rgb.png");*/
}



/*colors*/

.bgFacebook{
	background-color: #3b5999;
}

.bgInstagram{
	background-color: #e4405f;
}

.bgTwitter{
	background-color: #55acee;
}

.bgYouTuber{
	background-color: #cd201f;
}

.bgDarkPrimary{
	background-color: #E64A19;
}

.bgLightPrimary{
	background-color: #FFCCBC;
}

.bgPrimary{
	background-color: #FF5722;
}	

.bgTextIcons{
	background-color: #FFFFFF;
}

.bgAccent{
	background-color: #536DFE;
}

.bgPrimaryText{
	color: #212121;
}

.bgSecondaryText{
	color: #757575;
}

.bgDividerColor{
	color: #BDBDBD;
}


/* External code*/

.ac-rotate-270 {

/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


.ac-rotate-90 {

/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */v
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

/* https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	/*padding-top: 25px;*/
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 5px;
	width: 100%;
	height: 100%;
	padding: 0px;
}

